<main>
  <article>
    <%= render(:erb, :header) %>
    <% if @memos.empty? %>
    <p>メモはありません</p>
    <% else %>
    <ul>
      <% @memos.map do |memo| %>
      <li><a href="memos/<%= memo.first %>"><%= h(memo.last["title"]) %></a></li>
      <% end %>
    <% end %>
    </ul>
  </article>
</main>
