<main>
  <article>
    <header>
      <h1><a href="/"><%= @app_title %></a></h1>
      <p><a class="button" href="memos/create">追加する</a></p>
    </header>

    <ul>
      <% @memos.map do |memo| %>
      <li><a href="memos/<%= memo['id'] %>"><%= h(memo['title']) %></a></li>
      <% end %>
    </ul>
  </article>
</main>
